h1{font-family: 'Play', sans-serif;
    text-align: center;
    color: #0087F1;
}
body{font-size:20px;
color:#4094FF;}

body{ font-size: 25px;
    font-family: 'Source Code Pro', monospace;}


img{border-style: inset;
    border-width: 30px;
    border-color: purple;}
    


html{background: #8C4ABC;}
